body{
   background: #ff56d2;
background: -moz-linear-gradient(top,  #ff56d2 0%, #d82ac4 18%, #d60cbe 34%, #d82ac4 51%, #ca20b3 70%, #d82ac4 86%, #e87edd 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff56d2), color-stop(18%,#d82ac4), color-stop(34%,#d60cbe), color-stop(51%,#d82ac4), color-stop(70%,#ca20b3), color-stop(86%,#d82ac4), color-stop(100%,#e87edd));
background: -webkit-linear-gradient(top,  #ff56d2 0%,#d82ac4 18%,#d60cbe 34%,#d82ac4 51%,#ca20b3 70%,#d82ac4 86%,#e87edd 100%);
background: -o-linear-gradient(top,  #ff56d2 0%,#d82ac4 18%,#d60cbe 34%,#d82ac4 51%,#ca20b3 70%,#d82ac4 86%,#e87edd 100%);
background: -ms-linear-gradient(top,  #ff56d2 0%,#d82ac4 18%,#d60cbe 34%,#d82ac4 51%,#ca20b3 70%,#d82ac4 86%,#e87edd 100%);
background: linear-gradient(to bottom,  #ff56d2 0%,#d82ac4 18%,#d60cbe 34%,#d82ac4 51%,#ca20b3 70%,#d82ac4 86%,#e87edd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff56d2', endColorstr='#e87edd',GradientType=0 );
}

header{

  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

header h1{
  font-family: 'Calligraffitti', cursive;
  color: #fafafa;
  font-size: 90px;
  letter-spacing: 7px;
  font-weight: 500;
  text-shadow: 0px 0px 15px #fff;
  transition-duration: 0.4s;
}

header h1:hover{
  text-shadow: 0px 0px 25px #fff;
}

section{
  top: 320px;
  width: 100%;
}

section article{
  width: 500px;
  padding: 10px;
  padding-bottom: 6px;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 60px;
  border-radius: 6px;
  box-shadow: 0px 0px 15px 0px #fff;
  text-align: center;
  transition-duration: 0.7s;
}

section article:hover{
  box-shadow: 0px 0px 25px 2px #fff;
  transition-duration: 0.4s;
  -webkit-transform: scale(1.1);
}

section article span{
  font-family: 'Dancing Script', cursive;
  color: #333;
  font-size: 50px;
  text-shadow: 0px 0px 4px #333;
  
}

section article img{
  width: 100%;
  transition-duration: 1s;
}

img:hover{
 
-webkit-filter: contrast(150%);
   -moz-filter: contrast(150%);
    -ms-filter: contrast(150%);
     -o-filter: contrast(150%);
filter: contrast(150%);
  transition-duration: 0.4s;
}
